
var {{.Name}}Cmd = &Z.Cmd{
	Name:        `{{.Name}}`,
	Aliases:     []string{``},
	Summary:     help.S(_{{.Name}}),
	Description: help.D(_{{.Name}}),
	Commands:    []*Z.Cmd{help.Cmd},

	Call: func(x *Z.Cmd, args ...string) error {
		// TODO
		return nil
	},
}
