
var Cmd = &Z.Cmd{
	Name:        `command`,
	Aliases:     []string{`cmd`},
	Summary:     help.S(_command),
	Description: help.D(_command),
	Commands:    []*Z.Cmd{help.Cmd},

	Call: func(x *Z.Cmd, args ...string) error {
		// TODO
		return nil
	},
}
